* {

    font-family: 'Bangers', cursive;

}
body {
    background-image: url("../images/Bkgnd-maxres.jpg");
    background-size: cover;

}
.bodystyling {
    background-image: url("../images/Bkgnd-maxres.jpg");
    background-size: contain;
}
.header {
    -webkit-text-stroke: rgba(130, 5, 248) 2px;
}

footer {
    padding: 30px;
}
img {
    width: 100%;
}
.borderstyle {
border: 5px solid white !important;
border-top: 0px !important;
border-radius: 20px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.div-styling {
padding: 10px;
width: 100%;
margin-top: opx;
margin-bottom: 25px;
color: white;
background-color: rgba(4, 4, 4, 0.85);

}
.infoheading {
    text-decoration: underline;
    font-size: larger;
    color: rgba(130, 5, 248);
    -webkit-text-stroke: white 0.px;

    
}
.info {
    margin: 5px;
    font-size: 3rem;
}
.ultitle {
    margin-top: 15px;
    margin-bottom: 15px;
    padding:0
}

.listitems {
    list-style-type: none;
    margin: 10px;
    margin-left: 0;
}

.color {
    color: lightgray;
}
* {box-sizing:border-box}

/* Container for skill bars */
.barcontainer {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 10px;
}
.btn-outline-secondary {
    color: white !important;
    -webkit-text-stroke: black 1px !important;
    border-color: black !important;
}
.btn-outline-secondary:hover {
    color: #fff !important;
    -webkit-text-stroke: black 1px !important;
    background-color: rgba(130, 5, 248, 0.314) !important;
    border-color: black !important;
}
.btn {
    background-color: rgba(130, 5, 248) !important;
    border:black !important
}
.btn-block {
    padding: 20px !important;
    width: 100% !important;
    margin-bottom: 0.5px !important;
}
.hrstyling {
    border: 1px solid rgba(243, 242, 244, 0.608)
}
.imgstyling {
    border: 5px solid white;
    border-bottom: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
}
.namestyling {
    background-color: rgba(130, 5, 248);
    -webkit-text-stroke: black 1px;
}
#user-input {
    border: 0.5px solid black
}
#f-heading {
    color: white;
    text-align: center;
    background-color: rgba(130, 5, 248);
    -webkit-text-stroke: black 2px;
    font-size: 3rem;
}
.bg-dark {
    background-color: rgba(4, 4, 4, 0.85) !important;
}
#biography-container2 {
    padding: 10px;
    width: 100%;
    margin-top: opx;
    margin-bottom: 25px;
    color: white;
    background-color: rgba(4, 4, 4, 0.85);
    list-style-type: none;
}
#reset {
    border-radius: 0 !important;
    background-color: red !important;
}
#back {
    border-radius: 0 !important;
}