* {

    font-family: 'Bangers', cursive;

}


footer {
    padding: 30px;
}
img {
    width: 100%;
}
.border {
border: solid lightgray;

}
.div-styling {
padding: 10px;
width: 100%;
margin-top: 25px;
margin-bottom: 25px;
}
.underline {
    text-decoration: underline;
}
.info {
    margin: 10px;
    font-size: 3rem;
}

.listitems {
    list-style-type: none;
}