:root {
  --font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: rgb(0, 88, 176);
  --secondary-color: #ff7235;
  --primary-shadow: #0be5ecee;
  --secondary-shadow: #00f37e;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}


.row{
  background-image: url(../images/background-image.jpeg);
}
.card {
    height: 300px;
    width: 200px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
    margin: 10px;
  }

  h4 {
      text-align: center;
  }

  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    height: 10%;
    width: 100%;
    /*padding: 1rem 1rem;*/
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1em;
  
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    border: 0;
    background-color: rgb(161, 161, 161);
  }

  .btn-outline {
    color: white;
    border: 1px solid;
    border-color: white;
  }
  
  .btn:hover, .btn:focus, .btn:active {
    color: white;
    border-color: #fdcc52;
    background-color: #6652fd;
  }
  
  .btn {
    border-radius: 5px !important;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
  }